<!DOCTYPE html>
<html>
<head>
    <title>My Blog Test</title>
</head>
<body>
    <header>
        <h1><a href="/">My totally self-written and not from Djangogirls copied Blog</a></h1>
    </header>

    <article>
        <time>published: 14.06.1988, 12:14</time>
        <h2><a href="">He's born!</a></h2>
        <p>Hallelulja</p>
    </article>

        <article>
        <time>published: 14.06.2025, 12:14</time>
        <h2><a href="">Still alive!</a></h2>
        <p>Meh</p>
    </article>
</body>
</html>